main {
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: 1450px;
  justify-content: center;
  margin: 0 auto;
  background: #fff;
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.1);
}

aside {
  width: 370px;
  background: #1e2939;
}

.cv-photo {
  margin: 40px 0 0 0;
}

.header-secondary {
  color: #fff;
}

.contacts-links {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.list-secodary {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px; /* 171.429% */
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.list-secondary-item {
  color: #fff;
}

.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}

.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}

.soft-skills-block {
  margin-top: 44px;
  margin-left: 40px;
}

main {
  padding: 102px 88px 102px 88px;
}

.main-desctiption {
  width: 700px;
  margin-bottom: 40px;
}

.job-title {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
}

.description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.projects {
  width: 420px;
  padding-bottom: 51px;
}

.list-primary {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
}

.list-primary-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.header-primary {
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.job-name {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.highlight {
  color: #fb6d3a;
}

.job-date {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.job-list {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
}

.work-list {
  width: 509px;
}
